
/* CORE LOGIN MENU LI A START*/
.login-menu-logged li a{padding: 0px}
/* CORE LOGIN MENU LI A END*/

/* BOOTSTRAP ICONS STACK BEGIN*/
.fa-groupstack, .fa-friendsstack  {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.fa-groupstack .fa-user{
left: 0.5em;
}

.fa-groupstack .fa-user:nth-child(2){
    color: green;
position: relATIVe;
left: -0.5em;
    width: .5em;
}

.fa-guest .fa-user{
    color: grey;
}

.fa-friendsstack .fa-user{
left: 0.5em;
}

.fa-friendsstack .fa-user:nth-child(2){
    color: orange;
position: relATIVe;
left: -0.5em;
    width: .5em;
}

.fa-friendsstack .fa-user:nth-child(3){
    color: green;
position: relATIVe;
left: -.75em;
    width: .25em;
}

.fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.fa-stack .glyphicon-info-sign{
    font-size: 50%;
    color: blue;
position: absolute;
left: 1em;
}
/* BOOTSTRAP ICONS STACK END*/


/* ######### CSS ANTIGO!!!!! ########*/

#login_oim td{
line-height: normal;
color: rgb(51, 51, 51);
}

#labinput{
    width: auto !important;
    position: absolute;
    left: 5%;
    margin-top: 2px;
}
.login:focus + label, .login:valid + label{
    display: none !important;
}
#login_oim .login input {
  display: inline-block;
  float: left;
}

#login_oim p {
  text-align: center;
  display: inline-flex;
}
#login_oim br{
   display: block;
   margin: 1px 0;
   }

#login_form {
/*
  position: relative;
*/
}

/* LOGIN MENU WARNING */
#login_oim .warningtext{
  color: red;
}

#warningoverlay:target{
    display: none;
}

/* .alert */
#warningoverlay {
      background-color: rgb(255,255,204);
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
  opacity: 0.8;
/*
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
*/
height: 95px;
/*
    position: fixed;
*/
  position: absolute;
  top: 0;
  left: 0;
    text-align: center;
/*
    text-decoration: none;
    top: -100px;
    display: inline-block;
*/
    vertical-align: middle;
    z-index: 100;
    -webkit-animation: warning 1s ease forwards;
       -moz-animation: warning 1s ease forwards;
        -ms-animation: warning 1s ease forwards;
         -o-animation: warning 1s ease forwards;
            animation: warning 1s ease forwards;

/*
    width: 100%;
*/
/*
    background: white;
*/
/*
    overflow: hidden;
    z-index: 200;
*/
    /*height: 1%;*/

/*
    line-height: 20;
    border: 3px solid black;
    background: #eee;
*/
    }

#warning {
    opacity: 1;
    color: rgb(196,69,60);
    font: bold 11px sans-serif;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}
#eusermenu #box {
float:left;
text-align: center;
width: calc(100% - 100px);
/*
width: 65%;
*/
}
#eusermenu #avatar {
/*
height: 90px;
*/
width: 100px;

/*
margin-right: -5px;
*/
text-align: center;
float:right;
}
#eusermenu #avatar .user-avatar {
    max-width: 100px;
    height: 100px;
    width: unset !important;
}

#eusermenu {
/*
  margin-top: -5px;
*/
}
#eusermenu #avatar .spacer{
height: 85px;
}
#eusermenu #avatar span{
float: right;
z-index: 1000;
position: fixed;
right: 5px;
/* Fix por causa do Free Hosting... */
/*top: -115px;*/
}
/* Animation */

@-webkit-keyframes warning {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes warning {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes warning {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes warning {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes warning {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

/* click overlay */



/* LOGIN MENU FORM */

/*
#login_oim{
    position: relative;
}
*/

/*
#login_oim{
*/
/*
    position: absolute;
    width: 25%;
*/
/*
    z-index: -90;
    top: 0px;
}
*/
/* ######### ESTILOS PARA A FORMATAÇÃO DO TEMA ########### */
#onlineinfodhtmltooltip{
position: absolute;
width: 100px;
border: 1px solid '.$pref['onlineinfo_border'].'; -moz-border-radius: .8em; -webkit-border-radius: .8em; border-radius: .8em;
padding: 2px;
background-color: '.$pref['onlineinfo_color'].';
visibility: hidden;
z-index: 100;
}
.onlineinfonew{
background-color: red;
color: yellow;
padding: 2px;
}

#trmenu{
/*
    background-color: rgba(255,255,255,0.6);
*/
    /* For IE 5.5 - 7*/
/*
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
*/
    /* For IE 8*/
/*    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
-moz-box-shadow:0px 0px 7px #FFFFFF;
-webkit-box-shadow:0px 0px 7px #FFFFFF;
box-shadow:0px 0px 7px #FFFFFF;
*/
}
#pm td {
text-align: center;
}

#info td {
text-align: center;
}