/*
CSS FOR EUSER.PHP MAIN FILE
*/
/*
.euser-profile .card-body .tab-content div[class^='col'], .euser-profile .card-body .tab-content div[class*=' col']{
	padding: 6px 10px;
}
.euser-profile .card-body .tab-content .row > :nth-child(n+3){
	border-top: 1px solid rgba(170,170,170,0.35);
}
.euser-profile .card-body .tab-content div.row {
	border:unset;
    padding: unset;
}
*/
/*
.card-profile .card-body .tab-content > .active div {
	display:unset;
}
*/
.euser-profile .card-body .tab-content {
	display: flex;
}
.euser-profile .card-body .tab-content > .tab-pane {
	display: block; /* undo "display: none;" */
	visibility: hidden;
	margin-right: -100%;
	width: 100%;
}
.euser-profile .card-body .tab-content > .active {
	visibility: visible;
}
.euser-profile div.euseroff img.user-avatar{
	border-color: gray;
	filter: grayscale(1);
}
.euser-profile div.euseron img.user-avatar{
	border-color: rgb(0, 102, 0) !important;
}

/*
CSS FOR USER MEMBER & PROFILE INFO PANEL
*/
/*
.user-profile .useronoff {
	left: 15%;
}
*/
.author-info .useronoff {
	left: 25%;
	font-size: large;
}
/*
.member-info .euseroff img.user-avatar{
filter: grayscale(75%);
}
*/
.author-info a.euseroff{
	color: gray;
}
.author-info a.euseroff:hover{
	color: inherit;
}
/* Não vou usar, fica aqui só para o caso de não quered borda no avatar....
.author-info div .euseron img.user-avatar{
	border-style: unset;
}
*/
.author-info a.euseroff:hover {
	color: unset;
}
.author-info a img.user-avatar{
	border: .15rem solid;
}

.small-text {
		font-size: .75em !important;
}
.small-text .btn {
	font: inherit !important;
	font-size: inherit !important;
	padding: 3px;
}
.small-text .btn .badge{
	padding: 2px 3px 1px 2px;
}

.euser-profile .card.with-nav-tabs, .euser-edit_profile .card.with-nav-tabs  {
	background-image: linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%);
}

.euser-profile .card.with-nav-tabs .card-header {
/*
	Padding-bottom: 0px;
	*/
	border-bottom: unset;
}

.euser-profile #image-preview.avatar, img.user-avatar {
	-webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  /*
	margin-bottom: 10px;
  */
	display: inline-block;
	border-radius: 50%;
	background-image: url(images/blank_avatar.png);
	background-size: contain;
	background-position: center;
}

body:has(#MP3Modal .modal-body #remote:checked) #MP3Modal .modal-body .mp3-remote, body:has(#MP3Modal .modal-body #local:checked) #MP3Modal .modal-body .mp3-local {
	display: unset !important;
}

#euser-social > .container > h3 {
	display: none !important;
}
#euser-social > .container > .form-group {
	margin-bottom: 0 !important;
}