/* =Basic HTML, Formatting tables
----------------------------------------------------------------------*/
/*
#pclis .border-left{
 border-left: solid thin;
}
#pclis thead .border-left{
 border-left-color: inherit !important;
 border-bottom-color: inherit !important;
}
#pclis tbody .border-left{
 border-left-color: #ddd !important;
 border-bottom-color: #ddd !important;
}
#pclis td:nth-child(2n+1){
 border-left: none;
}
#pclis thead tr:first-child th:nth-child(1n+2){
 border-bottom: solid thin;
 border-bottom-color: inherit !important;
}
*/
/*
#pclis a, .leg a {
color: black;
}
*/

#pclis a.list{
  cursor: zoom-in;
}
#pclis .userlist td{
  font-weight: bolder;
}

#edlis a {
padding: 2px !important;
}
.more
{
text-decoration:line-through;
}
.wait.list, .wait 
{
background-color: #ADD8E6;
color: black !important; 
}
.have
{
color:#ADD8E6 !important;
text-decoration:line-through !important;
}
.troca
{
color:red;
font-weight: bolder;
}
/*
del, .listxc
*/
del
{
color: lightgray !important;
}
.imagepop:hover {
  background: yellow;
}
tr.user:hover {
  background: lightgrey;
}
tr.current {
  background: khaki;
}
tr.current td{
  background: none;
}
/*
@media print
{
 .list{visibility: hidden;}
}
*/
#edlis a, #edlis a
{
font-weight: normal;
}
#edlis a.list
{
  cursor:url(images/pointer_a.png),url(images/pointer_a.png),auto;
}
#edlis a:hover
{
  border:1px solid black;
}
#edlis .list
{
color: darkgreen;
font-weight: bold;
}
#edlis a.have
{
cursor:url(images/pointer_r.png),url(images/pointer_r.png),auto;
color: black;
}
#edlis a img
{
cursor:pointer;
}
.sectiontitle
{
margin: 0px;
margin-top: 5px;
}
/*
.listu
{
color: darkgreen;
/*
background-image:url("images/list_add.png");
background-repeat:no-repeat;
background-position:right; 
*/
/*
}
*/
/*
.zoom{
cursor: url(../phil_cat/images/zoom_cursor.png),url(../phil_cat/images/zoom_cursor.png),default;
}
*/
.lef
{text-align:left;}
.cen
{text-align:center;}
/*
.trc
{
position: relative;
text-align: right;
vertical-align:middle;
margin-top: -2.3em;
float: right;
}
*/
.cserie
{text-align:right;width:17%;font-weight:bold;}
.selo10
{width:10%;}
.selo15
{width:15%;}
/* Formata��o das imagens
----------------------------------------------------------------------*/
.thb_many {
-moz-box-shadow: 1px 1px black, 2px 2px white, 3px 3px black; /* Firefox 3.6 and earlier */
box-shadow: 1px 1px black, 2px 2px white, 3px 3px black;
}
/* Formata��o da lista no m�dulo phil_catalogue - Descontinuado
----------------------------------------------------------------------*/
/*
.lista div
{background-position:center; height: 25px; width: 75%;background-repeat: no-repeat;}
.lista input
{position:relative;left:45%}
*/
/* Formata��o da lista de trocas (imagens)
----------------------------------------------------------------------*/
div .list_img{
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.list_img div.togglelis {
  text-align: center;
  padding: 0px;
}
/*
.trocas ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
*/
.list_img li{
  text-align: center;
  display: inline-table;
  margin-bottom: 5px;
/*
  border-bottom: thin solid black;
*/
}
.list_img li img {
  float: left;
  margin: 2px;
}  
/*----------------------------------------------------------------------*/
#listinginfo {
/*
  width: 100%;
  margin-top: 45px;
*/
}
#listing, #listingu {
/*    width: 100%;*/
    overflow-x: hidden;
    bottom: 0px;
    top: 6em;
    position: inherit;
}
#content {
  overflow-x: initial !important;
}
/*
#loading {
 z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
 text-align: center;
 font-size: 1.5em;
 font-weight: bolder;
		/* Fallback for web browsers that doesn't support RGBa */
/*
		background: rgb(255, 255, 255);
		/* RGBa with 0.6 opacity */
/*
		background: rgba(255, 255, 255, 0.6);
		/* For IE 5.5 - 7*/
/*
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
		/* For IE 8*/
/*
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}
*/
/*#dialog-content span{
 text-align: center;
 position: relative;
 top: 45%;
}
*/
#dialog-content span img{
 vertical-align: middle;
 }
h3 {
display: block;
/*
margin: 0px;
position: fixed;
margin: 0px;
background-color: white;
width: 75%;
*/
}
h3 small {
font-size: small;
}
h3 span {
float: right;
font-size: small;
}
/* Formata��o do print
*/
body.e-iframe {
  overflow-y: unset !important;
}
body.e-iframe .infoheader{
  padding-top: 25px !important;
}
/*----------------------------------------------------------------------
          �CONES EM SPRITES...... BOOTSTRAP STYLE.....
----------------------------------------------------------------------*/
/*
a[class^="phlist_icon"], a[class*=" phlist_icon"] {
padding: 0px !important;
width: 16px !important;
height: 16px !important;
  display: inline-block;
  vertical-align: text-top;
  background-image: url("images/icons.png");
  background-repeat: no-repeat;
}
a#col{background-position: 0px 0px}
a#compare{background-position: 0px -16px}
a#add{background-position: 0px -32px;}
a#remove{background-position: -0px -48px;}
a#edit{background-position: -0px -64px;}
a#save{background-position: -0px -80px;}
a#trc{background-position: -0px -96px;}
a#edimg{background-position: -0px -112px;}
a#edimgoff{background-position: -0px -128px;}
a#ednum{background-position: -0px -144px;}
a#ednumoff{background-position: -0px -160px;}
a#imggal{background-position: -0px -176px;}
a#imggaloff{background-position: -0px -192px;}
a#imglis{background-position: -0px -208px;}
a#imglisoff{background-position: -0px -224px;}
a#numcond{background-position: -0px -240px;}
a#numcondoff{background-position: -0px -256px;}
a#numcondplus{background-position: -0px -272px;}
a#numcondplusoff{background-position: -0px -288px;}

img[class^="phlist_icon"], img[class*=" phlist_icon"] {
  object-fit: none;
  width: 16px;
  height: 16px;
}
img#compare{object-position: 0px -16px}
img#numcond {object-position: 0 -176px;}
img#numcondplus {object-position: 0 -192px;}
img#save {object-position: 0 -80px;}
img#edit {object-position: 0 -64px;}
*/