<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Phil (Lists)" lan="LAN_PLUGIN_PHILLIS_PAGE_NAME" version="0.25b" date="2025-04-06" compatibility="2.3" installRequired="true" xhtmlcompliant="true" >
	<author name="rica-carv" email="selo.fan@gmail.com" url="https://github.com/rica-carv" />
	<description lan="LAN_PLUGIN_PHILLIS_DESCRIPTION">This plugin is a fully featured Philatelic Lists system.</description>
	<keywords>
		<word>lists</word>
		<word>philatelic</word>
		<word>stamps</word>
	</keywords>
	<category>content</category>
	<copyright>Copyright SelosPT Selospt.tk, Licensed under GPL (http://www.gnu.org/licenses/gpl.txt)</copyright>
	<adminLinks>
		<link url='admin_config.php' description='LAN_PLUGIN_PHILLIS_PAGE_NAME' icon='images/phillis.png' iconSmall='images/phillis.png' primary='true' >Phil Lists</link>	
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}phillis/phillis.php" sef='index' perm='everyone' lan='LAN_PLUGIN_PHILLIS_PAGE_NAME'>Philatelic Lists</link>
  </siteLinks>
  <dependencies>
    <plugin name='philcat'/>
    <PHP name='core' min_version='8' />
    <MySQL name='server' min_version='4.9' />
  </dependencies>
  <pluginPrefs>
		<pref name="read">255</pref>
		<pref name="create">255</pref>
		<pref name="admin">255</pref>
		<pref name="terms">Don't write anything I don't like</pref>
		<pref name="log">255</pref>
		<pref name="approval">255</pref>
		<pref name="pop">255</pref>
		<pref name="perpage">15</pref>
		<pref name="allow_fviews">array (
				'n' => 1,
				'x' => 1)</pref>
		<pref name="allow_tviews">array (
				'n' => 1,
				'x' => 1)</pref>
		<pref name="allow_eviews">array (
				'n' => 1,
				'x' => 1)</pref>
		<pref name="colnum">|</pref>
		<pref name="compare">0</pref>
		<pref name="allow_cviews">array (
				'n' => 1,
				'x' => 1)</pref>
		<pref name="discl">Don't write anything I don't like</pref>
		<pref name="dformat">d-m-y</pref>
		<pref name="userating">1</pref>
		<pref name="usecomments">1</pref>
		<pref name="metad">Description</pref>
		<pref name="metak">Ricardo Carvalho plugin,philatelic lists</pref>

		<pref name="def_pais">1</pref>
		<pref name="def_tipo">1</pref>
		<pref name="def_familia">1</pref>
	</pluginPrefs>
	<management>
	</management>
</e107Plugin>
